@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 288 60% 97%;
    --foreground: 288 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 288 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 288 20% 15%;
    --primary: 288 51% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 288 43% 92%;
    --secondary-foreground: 288 20% 15%;
    --muted: 288 43% 92%;
    --muted-foreground: 288 20% 40%;
    --accent: 186 51% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 288 43% 88%;
    --input: 288 43% 88%;
    --ring: 186 51% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 288 25% 9%;
    --foreground: 288 43% 92%;
    --card: 288 25% 12%;
    --card-foreground: 288 43% 92%;
    --popover: 288 25% 9%;
    --popover-foreground: 288 43% 92%;
    --primary: 288 51% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 288 25% 15%;
    --secondary-foreground: 288 43% 92%;
    --muted: 288 25% 15%;
    --muted-foreground: 288 43% 70%;
    --accent: 186 51% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 288 25% 20%;
    --input: 288 25% 20%;
    --ring: 186 51% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
